* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
overflow: hidden;
background-color: #000000;
}


#gameover{
    display:none;
    position:absolute;
    top:40%;
    left:50%;
    transform:translate(-50%, -50%);
    color:white;
    font-size:50px;
    z-index:10;
}

#reiniciar-btn{
    display:block;
    margin:20px auto;
    padding:10px 20px;
    font-size:20px;
    cursor:pointer;
    border-radius:8px;
    border:none;
}
